<h1>Detalhes da tarefa {{ task?.title }}</h1>
<hr/>
<form #taskForm="ngForm" *ngIf="task" (ngSubmit)="updateTask()">
  <div class="form-row">
    <div class="form-group col-md-6" >
      <label for="title">Título</label>
      <input #title="ngModel" [(ngModel)]="task.title" type="text" class="form-control" id="title" placeholder="Título" name="title" required minlength="2" maxlength="255"
             [class.is-invalid]="showFieldError(title)"
             [class.is-valid]="title.valid"
      >
      <div *ngIf="showFieldError(title)" class="invalid-feedback">
        <div *ngIf="title.errors.required">O título é obrigatório.</div>
        <div *ngIf="title.errors.minlength">O título deve conter pelo menos 2 caracteres.</div>
        <div *ngIf="title.errors.maxlength">O título deve conter no máximo 255 caracteres.</div>
      </div>

    </div>
    <div class="form-group col-md-3">
      <label for="deadline">Prazo de entrega</label>
      <input [(ngModel)]="task.deadline" type="text" class="form-control" id="deadline" placeholder="deadline" name="deadline">
    </div>
    <div class="form-group col-md-3">
      <label for="done">Prazo de entrega</label>
      <select [(ngModel)]="task.done" type="text" class="form-control" id="done"  name="done">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="description">Descrição detalhda</label>
      <textarea [(ngModel)]="task.description" name="description" id="description" cols="30" rows="4" class="form-control"></textarea>
    </div>
  </div>

  <button [disabled]="taskForm.invalid" type="submit" class="btn btn-success" >Atualizar</button>
  <button class="btn btn-default" (click)="goBack()">Voltar</button>

</form>
