<h1 class="page-header">Lista de Tarefas</h1>

<div class="card card-body bg-light">

  <div class="row">
    <div class="col-md-10">
        <input type="text" class="form-control" [(ngModel)]="newTask.title" placeholder="Digite aqui uma nova tarefa">
    </div>
    <div class="con-md-2">
      <button class="btn btn-success" (click)="createTask()">
        Adicionar tarefa
      </button>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>
        <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
          <span class="oi oi-info" title="info" aria-hidden="true"></span>
        </a>
        <button class="btn btn-danger" (click)="deleteTask(task)">
          <span class="oi oi-trash" title="trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
